/* reset.css from http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

@font-face {
	font-family: 'Galdeano';
	font-style: normal;
	font-weight: 400;
	src: local('Galdeano Regular'), local('Galdeano-Regular'), url('xWfNF53zMVtUUmsSpUl10vesZW2xOQ-xsNqO47m55DA.ttf') format('truetype'), url('http://themes.googleusercontent.com/static/fonts/galdeano/v2/xWfNF53zMVtUUmsSpUl10vesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
}
@font-face {
	font-family: 'Unkempt';
	font-style: normal;
	font-weight: 700;
	src: local('Unkempt Bold'), local('Unkempt-Bold'), url('l7ry4Z6jesX0kBGhwZVQry3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'), url('http://themes.googleusercontent.com/static/fonts/unkempt/v3/l7ry4Z6jesX0kBGhwZVQry3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
}

@font-face {
	font-family: 'Graublau Web';
	src: url('GraublauWeb.eot');
	src: local('Graublau Web Regular'), local('Graublau Web'), url('GraublauWeb.otf') format('opentype');
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: default;
}
body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	float: left;
	position: relative;
	width: 100%;

	font-family: "Graublau Web", "Galdeano", "DejaVu Sans", sans-serif;
	color: #000;

	background-color: rgb(125,185,232);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(70%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
	background-image:    -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 70%, rgba(125,185,232,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 70%, rgba(125,185,232,1) 100%);
	background-image:      -o-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 70%, rgba(125,185,232,1) 100%);
	background-image:     -ms-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 70%, rgba(125,185,232,1) 100%);
	background-image:         linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 70%, rgba(125,185,232,1) 100%);
	background-origin: border-box;
	background-repeat: repeat-x;
}
#body {
	padding: 5px 0px 5px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: inline-block;
	text-align: center;
}
#wrap {
	margin: auto;
	text-align: left;
	display: inline-block;
}
a {
	color: green;
	text-decoration: none;
}
a:hover {
	color: red;
}
a:visited {
	color: green;
}
button.like-link {
	display: inline-block;
	position: relative;
	background-color: transparent;
	color: green;
	padding: 0;
	border: 0;
	text-decoration: none; /*underline;*/
	cursor: pointer;
}
h1 {
	font-family: "Graublau Web", "Unkempt", "DejaVu Sans", sans-serif;
	font-size: 48pt;
	text-align: center;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
}
small {
	font-size: 10px;
}
#example-inputs-to-try-div {
	height: 200px;
	width: 600px;
	overflow: auto;

	background-image:    -moz-linear-gradient(top, rgba(50,50,50,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(50,50,50,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 70%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0) 100%);
	background-image:      -o-linear-gradient(top, rgba(50,50,50,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(50,50,50,0) 100%);
	background-image:         linear-gradient(top, rgba(50,50,50,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(50,50,50,1) 100%);
	background-repeat: repeat-x;
	background-origin: border-box;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}
.example-inputs-to-try {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 60px;
}
ul {
	margin-left: 0px;
	padding-left: 0px;
}
ul li {
	margin-left: 5px;
	padding-left: 5px;
	list-style-type: none;
}
.example-inputs-to-try li {
	line-height: 1.5;
	cursor: pointer;
}
.example-inputs-to-try li, #codeforminput, #debugdiv {
	font-family: "Unkempt", "DejaVu Sans Mono", monospace;
	font-size: 12pt;
}
/* By default hide examples not in class nx */
/*
// moved to JS
ul.example-inputs-to-try li:not(.nx) {
	display: none;
}
*/

#input-area {
	awidth: 100%;
	font-size: 32px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#codeforminput {
	width: 640px;
	font-size: 32px;
	background-color: rgba(125,185,232,0);
}
#codeforminputsubmit, #run-unittest-button, #clear-log-button {
	font-size: 32px;
}
#codeforminputsubmit {
	width: 100px;
}
#evalresult {
	border-radius: 5px;
	padding: 5px;
	background-color: rgba(125,185,232,0);
	width: 750px;
	font-size: 24px;
}
#codeform {
	font-family: "Unkempt", "DejaVu Sans Mono", monospace;
	font-size: 24px;
}
#codeform p {
	line-height: 1.0;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	opacity: 0.1;
	-webkit-transition: opacity 0.8s linear;
	-moz-transition: opacity 0.8s linear;
	-o-transition: opacity 0.8s linear;
	-ms-transition: opacity 0.8s linear;
	transition: opacity 0.8ss linear;
}
#codeform p.widoczne {
	opacity: 1;
}
#debugdiv {
	border: 1px solid black;
	aheight: 180px;
	awidth: 100%;
	width: 750px;
	a-overflow-y: scroll;
	a-overflow-x: scroll;

	a-white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
textarea, input {
	font-family: "Unkempt", "DejaVu Sans Mono", monospace;
	font-size: 24px;
}
#przycisk_pi_start1, #przycisk_pi_start2 {
	width: 250px;
}
#pole_pi1, #pole_pi2 {
	width: 500px;
	font-size: 14px;
}
#pole1 {
	width: 750px;
	font-size: 14px;
}
fieldset {
	border: 0;
}
