*.beam
*.dis
*.o
*.S
*.E
*.beam.js

dict.erl
gb_sets.erl
gb_trees.erl
orddict.erl
ordsets.erl
proplists.erl
queue.erl
random.erl
sets.erl
string.erl
regexp.erl
lists.erl

tests_auto.erl
tests_auto.js
tests/tests_auto.erl
tests/tests_auto.js
