*.beam
*.dis
*.o
*.S
*.E
*.beam.js

baryluk_bug_*

dict.erl
gb_sets.erl
gb_trees.erl
orddict.erl
ordsets.erl
proplists.erl
queue.erl
random.erl
sets.erl
string.erl
regexp.erl

tests_auto.erl
tests_auto.js

__doc*.js
