*.beam
*.dis
*.o
*.S
*.E
*.beam.js

dict.erl
gb_sets.erl
gb_trees.erl
orddict.erl
ordsets.erl
proplists.erl
queue.erl
random.erl
sets.erl
string.erl
regexp.erl
lists.erl

erl_lib_core/*/*.erl
erl_lib_core/*/*.beam

tests/tests_auto.erl
tests/tests_auto.js
tests/tests_binaries.erl
tests/tests_binaries.js
tests/testy_float.erl
tests/testy_float.js
tests/testy_parsowanie.erl
tests/testy_parsowanie.js
tests/tests_arithmetic.erl
tests/tests_arithmetic.js

js_lib/javascript-stacktrace
